vanHaasteren_CandReads
batch_test
hLINE1_82-6_Integration_candidate_read_picked
hLINE-1_full_UID1_90__E840_ID108_82-6-6P18_Integration_candidate_reads.fasta
SimTestData_yeast_pmaxGFP-N1_intx10_v2_30xCov_P6C4_IntCandReads.fasta.*
sim_reads_GCF_000146045_2_R64_10xints_and_no-ints_mixed_2022-09-05_covx30_mod*
YeastRefGenome_GCF_000146045.2_R64_genomic.fna.*
real_cho_test_data
Integration_candidate_reads_20220208_10x_001_002.*
*.ndb
*.nhr
*.nin
*.nog
*.nos
*.not
*.nsq
*.ntf
*.nto