h2 {
    text-align: center;
    color: red;
    font-style: italic;
}
th {
    text-align: left;
}
td {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.scrollable {
    overflow: scroll;
    height: 200px;
}